<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> Digitalizador de factura </title>
		
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>

	<body>
		<header> BIENVENIDO </header>

		<div class="container">
			<h3 class="bill-title"> Factura generada </h3>

			<div class="bill">
				<div class="section">
					<p> Encabezado </p>
				</div>

				<div class="section">
					<p> Información de la factura </p>
				</div>

				<div class="section">
					<p> Descripción de la compra </p>
				</div>

				<div class="section">
					<p> Total </p>
				</div>

				<div class="section">
					<p> Información adicional </p>
				</div>
			</div>
		</div>


		<script src="assets/js/update_uploaded_image.js"></script>

		<script>
			var send_btn = document.getElementById('send_btn');
			send_btn.addEventListener('click', (event) => {
				var loading_modal = document.getElementById('loading_modal');
				loading_modal.classList.add("active");
			});
		</script>
	</body>
</html>