<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> Digitalizador de factura </title>
		
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>

	<body>
		<header> BIENVENIDO </header>

		<div class="container">
			<h3 class="bill-title"> Factura generada </h3>

			<form action="">
				<div class="bill">
					<div class="section">
						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">
					</div>

					<div class="section">
						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">
					</div>

					<div class="section">
						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">
					</div>

					<div class="section">
						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">
					</div>

					<div class="section">
						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">

						<select name="type" id="">
							<option value=""> Option 1 </option>
							<option value=""> Option 2 </option>
							<option value=""> Option 3 </option>
							<option value=""> Option 4 </option>
						</select>
						<input type="text" name="">
					</div>
				</div>

				<button class="send-btn" type="submit"> Validar </button>
			</form>
		</div>

		<script src="assets/js/update_uploaded_image.js"></script>
	</body>
</html>